ErrorDocument 404 /err.php

RewriteEngine On
RewriteRule ^([a-z-_A-Z_0-9]+)$ ?alias=$1
RewriteRule ^([a-z-_A-Z_0-9]+)/([0-9]+)$ ?alias=$1&id=$2
RedirectMatch ^/referat/referat_velosport.php$ /velosport
